<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="../vue.js"></script>
<body>
    <div id="app">
        <input type="text" v-model="n1" style="border-radius: 5px">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="n2" style="border-radius: 5px">
        <input type="button" value="=" @click="calc">
        <input type="text" v-model="result" style="border-radius: 5px">
    </div>

<script>
     var vm=new Vue({
         el:'#app',
         data:{
             n1:0,
             n2:10,
             opt:'+',
             result:0
         },
         methods:{
             calc(){
                 var cont='parseInt(this.n1)' + this.opt + 'parseInt(this.n2)';
                 this.result=eval(cont);
             }
         }
     }
     );

</script>
</body>
</html>