<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="../vue.js"></script>
<body>
    <div id='app'>
        <component1 @func="loadcomments"></component1>
        <ul>
        <li v-for='item in list' :key='item.id'>
            评论人：{{item.user}}----{{item.content}}
        </li>
    </ul>
    </div>

    <template id="test">
        <div>
        <div>
        评论人：<input type="text" v-model="user">
    </div>
    <div>
        评论内容：<textarea v-model='content'></textarea>
    </div>
    <div>
        <input type="button" value="发表评论" @click="addcomment">
    </div>
</div>
    </template>

    <script>
        new Vue({
            el:'#app',
            data:{
                list:[{ id: Date.now(), user: '李白', content: '天生我材必有用' },
                    { id: Date.now(), user: '江小白', content: '劝君更尽一杯酒' },
                    { id: Date.now(), user: '小马', content: '我姓马， 风吹草低见牛羊的马' }]
            },
            beforeCreated(){},
            created(){
                this.loadcomments()
            },
            methods:{
                loadcomments:function(){
                    var list=JSON.parse(localStorage.getItem('cmts'|| []));
                    this.list=list;
                }
            },
            components:{
                component1:{
                    template:'#test',
                    data(){
                        return {user:'',content:''}
                    },
                    methods:{
                        addcomment:function(){
                            var comment={id:Date.now(),user:this.user,content:this.comment}
                            var list=JSON.parse(localStorage.getItem('cmts'|| []));
                            list.unshift(comment);
                            localStorage.setItem('ctms',JSON.stringify(list))
                            this.user=this.content='';
                            this.$emit('func');
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>